<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/skeleton.css">
	<link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<br>
			<br>
			<div class="columns twelve text-center">
				<a class="button button-primary" href="/">Home </a>
				<a class="button button-primary" href="/containers">List all Images</a>
				<a class="button button-primary" href="/containers">List all containers</a>
			</div> <!-- End of columns two -->
		</div>
		<div class="row">
		<div class="column two"></div>
		<div class="column eight">
			<h1>Logs for Container</h1>
				<div class="u-max-full-width">
				<pre>
					<code>
						{{ data['logs'] }}
					</code>
				</pre>
			</div> <!-- End of content div -->
		</div> <!-- End of column eight -->
		<div class="column two"></div>
		</div> <!-- End of row -->
	</div> <!-- End of container div -->
</body>
</html>