<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/skeleton.css">
	<link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<br>
			<br>
			<div class="columns twelve text-center">
				<a class="button button-primary" href="/images">all images </a>
				<a class="button button-primary" href="/containers">all containers</a>
				<a class="button button-primary" href="/dind">Run DinD (Docker in Docker)</a>
				<a class="button button-primary" href="/showalldindcontainer">Show All DinD Container</a>
			</div> <!-- End of columns two -->
		</div> 
		<div class="row">
			<div class="column two">
			</div> <!-- End of column two -->
			<h1 align="center">Container Details</h1>
			<div class="column eight">
				<table class="u-full-width">
					<tbody>
						<tr>
							<td>DinD Container Output</td>
							<td>{{data}}</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- End of column eight -->
			<div class="column two">
			</div> <!-- End of column two -->
		</div> <!-- End of row -->
	</div> <!-- End of container -->
</body>
</html>