<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home Page</title>
      <!-- CSS -->
	  <link rel="stylesheet" href="static/css/normalize.css">
	  <link rel="stylesheet" href="static/css/skeleton.css">
	  <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1><center>Welcome To Docker Management App</center></h1>
			<h4><center>A POC web-App for container management</center></h4>
		</div> <!-- Endo of row -->
		<br><br>
		<div class="row">
			<div class="columns twelve text-center">
				<a class="button button-primary" href="/images">List all images </a>
				<a class="button button-primary" href="/containers">List all containers</a>
			</div> <!-- End of columns two -->
		</div> 
	</div>
</body>
</html>