<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/skeleton.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<br>
			<br>
			<div class="columns twelve text-center">
				<a class="button button-primary" href="/">Home </a>
				<a class="button button-primary" href="/containers">List all Images</a>
				<a class="button button-primary" href="/containers">List all containers</a>
			</div> <!-- End of columns two -->
		</div>
		<div class="row">
			<div class="column two">
			</div> <!-- End of column two -->
			<h1 align="center">Image Details</h1>
			<div class="column eight">
				<table class="u-full-width">
					<tbody>
						<tr>
							<td>Created</td> 
							<td>{{data['Created']}}</td>
						</tr>
						<tr>
							<td>Author</td>
							<td>{{data['Author']}}</td>
						</tr>
						<tr>
							<td>Size</td>
							<td>{{data['Size']}}</td>
						</tr>
						<tr>
							<td>Repo Tags</td>
							{% for tag in data['RepoTags']%}
								<td>
								<ul>
									<li>{{tag}}</li>
								</ul>
								</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div> <!-- End of column eight -->
			<div class="column two">
			</div> <!-- End of column two -->
		</div> <!-- End of row -->
	</div> <!-- End of container -->
</body>
</html>